@CHARSET "UTF-8";

body::-webkit-scrollbar {
   margin: 0;
   display:none;
}

.mypage-first{
	padding-top:50px;	
}
.mypage-image{
	width:177px;
	height:135px;
}
.mypage-text{
	font-size:100px;
	
}
.mypage-second{
	padding-top:20px;
}
#id{
	font-size:50px;
	color:#4d4d4d;
}
.mypage-{
	padding-top:100px;
}
.mypage-second-confirm{
	margin : 0px 30px 0px 30px;
}
.mypage-second-update{
	margin : 0px 30px 0px 30px;
}