@CHARSET "UTF-8";

fieldset{
	width: 350px;
	height: 580px;
	margin: 10px 20px 10px 20px;
	float:left;
	border-color : #33373A;
}

legend {
	font-size: 18pt;
	text-align: center;
	font-weight: bolder;
}

input[type=button] {
	width : 270px;
	height : 45px;
    padding: 8px 8px 8px 8px;
    margin: 30px 0px 0px 0px;
    border: 1px;
    border-radius: 4px;
    font-size:15pt;
    color: #ffffff;
    background-color: #ED1C24;
}

input[type=submit] {
	width : 270px;
	height : 45px;
    padding: 8px 8px 8px 8px;
    margin: 30px 0px 0px 0px;
    border: 1px;
    border-radius: 4px;
    font-size:15pt;
    color: #ffffff;
    background-color: #ED1C24;
}

#movie_list {
	overflow:scroll;
	height: 560px;
}

#movie_list ul{
	list-style:none;
	padding: 0px 0px 0px 10px;
}

#movie_list li{
	font-size: 18pt;
	margin: 15px 0px 15px 0px;
	text-algin:center;
}

#movie_list::-webkit-scrollbar { 
    display: none; 
}

#movie_list .rate{
	width:40px;
	height:35px;
}


#cinema_list {
	font-size: 15pt;
	margin-top: 16px;
}

#cinema_list .c_name{
	width: 100px;
	height: 60px;
	text-align: center;
	background-color: #EFEBDB;
}

#cinema_list .blank{
	width: 100px;
	height: 60px;
}

#cinema_list #cinema_name{
	width: 250px;
	text-align: center;
	background-color: #EFEBDB;
}

#cinema_list ul {
	list-style:none;
	padding: 0px 10px 0px 10px;
}

#cinema_list li {
	font-size: 18pt;
	margin: 15px 0px 15px 0px;
	text-algin:center;
}

#cinema_list .경기 {
	visibility : hidden;
}

#cinema_list .인천 {
	visibility : hidden;
}

#search {
	width : 45px;
	height : 45px;
    padding: 8px 8px 8px 8px;
    margin: 0px 5px 0px 5px;
    border: 1px;
    border-radius: 4px;
    font-size:10pt;
    color: #ffffff;
    background-color: #ED1C24;
}

#calendar {
	width : 160px;
	height : 25px;
	font-size: 13pt;
	margin : 0px 10px 0px 0px;
	padding : 3px 3px 3px 10px;
}

#date_field p{
	text-align: center;
}

#time {
	text-align : left;	
}

#time div{
	margin : 15px 5px 15px 20px; 
}


input[type=radio] + label {

    font-size:15pt;
    padding : 0px 15px 0px 15px;
}

input[type=radio]:disabled  + label{
    color: #808080;
}

input[type=radio]:checked  + label{
    background-color : #F5DD7F;
}

#remain {
	background-color: #33373A;
	color : #CDC197;
	font-size : 10pt; 
	padding : 3px 3px 3px 3px;
	border-radius: 4px;
	width : 50px;
	height : 10px;
	margin-left : 10px;
}

/*
툴팁관련
 #tooltip {
	position: absolute;
	z-index : 999;
	font-size:15pt;
	width : 30px;
	height : 20px;
}

#tooltip .tipBody {
	background-color: #CDC197;
	color : #33373A;
	padding: 8px;
}
 */